@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject ISnackbar Snackbar

<MudLayout>
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudAppBar Elevation="1" Dense="true">
        <MudContainer Class="d-flex align-center"> 
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudText Typo="Typo.h6" Class="ml-2">Snippet Manager</MudText>
        </MudContainer>       
    </MudAppBar>

    <MudMainContent>
        <div class="mud-container">
            <div class="mud-grid">
                @Body
            </div>
        </div>
    </MudMainContent>
</MudLayout>

